{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .embedded-map { margin: 1em auto; width: 100%; height: 15rem; }
</style>
<div class="example-wrapper">
    <h1>Welcome To Encore!</h1>
    <p>Shortbread candy canes fruitcake jujubes candy. Tootsie roll toffee sweet jelly beans cotton candy I love I love jelly-o oat cake. Chocolate cake I love sesame snaps cheesecake cheesecake shortbread oat cake fruitcake I love. Jujubes I love halvah I love gummies sweet roll croissant danish. Bonbon icing sesame snaps donut chocolate bar. Bonbon bear claw tiramisu toffee muffin chocolate bar topping. Gummi bears jelly-o tiramisu gummi bears tootsie roll oat cake pudding.</p>
    <h2>Who we are</h2>
    <p>Cupcake ipsum dolor sit amet. Soufflé sesame snaps I love topping cake sugar plum sweet cake candy canes. Cotton candy carrot cake sugar plum pastry gummies caramels cheesecake bonbon. Jelly-o jelly dessert shortbread biscuit oat cake soufflé. Icing bonbon chocolate bar dragée jelly. Tart jelly beans dragée dragée cotton candy chocolate bar liquorice jelly beans muffin.</p>
    <p>Shortbread pie lemon drops topping danish. Tootsie roll oat cake ice cream sugar plum sweet dragée apple pie I love. Jelly-o bonbon shortbread I love lollipop I love macaroon. Marzipan I love topping pudding marzipan gummies. Chocolate bar candy fruitcake soufflé tiramisu tart brownie pie jujubes. Caramels marshmallow marshmallow cheesecake oat cake jelly. I love sweet roll chocolate cookie cupcake.</p>
    <h2>Presse releases</h2>
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/xampp/htdocs/POO/employees-poo-group/src/Controller/HomeController.php'|file_link(0) }}">src/Controller/HomeController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/xampp/htdocs/POO/employees-poo-group/templates/home/index.html.twig'|file_link(0) }}">templates/home/index.html.twig</a></code></li>
    </ul>
    <h2>Download our last annual report</h2>
    <p>Cake brownie chocolate pastry soufflé marzipan halvah marzipan biscuit. Carrot cake muffin marzipan chocolate cake marshmallow. Jelly-o tiramisu biscuit I love biscuit macaroon. Wafer cookie I love sugar plum soufflé marzipan jelly-o. I love chupa chups jelly beans gingerbread powder bonbon I love. I love ice cream pastry muffin I love candy cheesecake. Apple pie oat cake jelly beans candy canes gummi bears bonbon danish. Sugar plum tiramisu powder marshmallow apple pie. Sweet danish chocolate cake lemon drops muffin gingerbread gummies I love I love.</p>
    <a href="{{ '#'|file_link(0) }}">Download here</a>
    <h2>Where to find us</h2>
    <p>Shortbread candy canes fruitcake jujubes candy. Tootsie roll toffee sweet jelly beans cotton candy I love I love jelly-o oat cake. Chocolate cake I love sesame snaps cheesecake cheesecake shortbread oat cake fruitcake I love. Jujubes I love halvah I love gummies sweet roll croissant danish. Bonbon icing sesame snaps donut chocolate bar. Bonbon bear claw tiramisu toffee muffin chocolate bar topping. Gummi bears jelly-o tiramisu gummi bears tootsie roll oat cake pudding.</p>
    <iframe class ="embedded-map"src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1781.1520385139556!2d4.368569943032806!3d50.8509960393818!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c3c4ce9cfb50cf%3A0xecd042e116ed41ac!2sEPFC%20-%20Enseignement%20de%20Promotion%20et%20de%20Formation%20Continue%20de%20l&#39;ULB%20et%20de%20la%20CCIB!5e0!3m2!1sfr!2sbe!4v1672197878060!5m2!1sfr!2sbe"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <h2>Where to find us</h2>
    <p>Qr-code</p>
</div>
{% endblock %}
