@import "~bootstrap/scss/bootstrap.scss";

@import "variables";

@import "custom";

.hidden{
  display: none;
}

.manager{
  text-align: center;
  margin : 2rem auto;
}

.manager-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

footer {
  margin-top: 3rem;
}